<%= form_with model: [ @chat_room, @chat_room.messages.build ] do |form| %>
  <p>
    <%= form.label :nickname %><br>
    <%= form.text_field :nickname %>
  </p>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

